<!--
<h1>Hola Mundo de Silvia!!</h1> 

<h1> {{title}} </h1> // con esto podemos acceder al contenido de las propiedades de la clase AppComponent del archivo app.component.ts

<h1> {{1 + 1}} </h1> // estas dobles llaves no solo sirven para imprimir valores de las propiedades, también podemos colocar cualquier expresión de Javascript
-->

<!--
<h1> {{titulo}} </h1>

// forma fácil y sencilla:
<button (click)=" numero = numero + 1; "> +1</button>

<span> {{numero}} </span> // para imprimir por pantalla 

<button (click)=" numero = numero - 1; "> -1</button>


// con 2 funciones creadas dentro de la clase AppComponent:
<button (click)="sumar()"> +1</button> // cada vez que toque click, voy a mandar a llamar sumar() 

<span> {{numero}} </span> // para imprimir por pantalla 

<button (click)="restar()"> -1</button> // cada vez que toque click, voy a mandar a llamar restar() 


// con un único método y pasándole un parámetro:
<button (click)="acumular(+2)"> +1</button>

<span> {{numero}} </span> // para imprimir por pantalla 

<button (click)="acumular(-2)"> -1</button>


// Fase final:
<h1> {{titulo}} </h1>
<h3> La base es: <strong> {{base}} </strong> </h3>

<button (click)="acumular(base)"> +{{base}} </button>

<span> {{numero}} </span> 

<button (click)="acumular(-base)"> -{{base}} </button>

-->

<!-- 
- Etiqueta que llama y coloca un componente definido y personalizado:
-->
<app-contador></app-contador> 

<!--
<app-heroe></app-heroe> 
-->

<!--
<app-listado></app-listado> 
-->
